$card-border-radius: 5px;

:host(dt-card) {
	display: block;

	.dt-card {
		background-color: white;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
		// color: var(--dt-text-color);

		// @include dt-media-breakpoint-up('sm') {
		// 	border-radius: $card-border-radius;
		// }
	}
}
