.app-home {
  padding: 10px;

  .carousel-container {
    display: flex;
    justify-content: center;
    width: 100%;

    .carousel {
      width: 400px;
    }
  }

  .top-bar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
  }
}
