:host(dt-card-header) {
	color: #666;
	font: 'gelion';
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.6;
	padding-bottom: 4px;
	display: block;

	.dt-card-header {
		overflow: hidden;
		padding: 16px 16px 0;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	&:last-child {
		.dt-card-header {
			padding-bottom: 16px;
		}
	}
}
