$card-height: 340px;
$card-padding: 24px;
$card-skeleton: linear-gradient(lightgray 100%, transparent 100% 100%);

$title-height: 32px;
$title-width: 200px;
$title-position: $card-padding 40px;
$title-skeleton: linear-gradient(white 10%, transparent 10% 100%);

$cover-height: 150px;
$cover-width: 310px;
$cover-position: $card-padding 110px;
$cover-skeleton: linear-gradient(white 75%, transparent 60% 100%);

$blur-width: 200px;
$blur-size: $blur-width 100%;

.skeleton {
  // general styling
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-repeat: no-repeat;
  animation: bookloading 1.5s infinite;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;

  background-image:
    linear-gradient(
      90deg,
      rgba(lightgrey, 0) 0,
      rgba(lightgrey, .8) 50%,
      rgba(lightgrey, 0) 100%
    ),
    $cover-skeleton,
    $title-skeleton,
    $card-skeleton;

  background-size:
    $blur-size,
    $cover-width 100%,
    $title-width 100%,
    100% 100%;

  background-position:
    0 0,                // loading animation
    $cover-position,    // book title
    $title-position,    // book cover
    0 0;                // gray background
}

@keyframes bookloading {
  to {
    background-position:
      250% 0,
      $cover-position,
      $title-position,
      0 0;
  }
}
